.rm-movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding: 20px;
  box-sizing: border-box;

  &:not(:last-child) {
    border-bottom: solid 1px lightgrey;
  }

  * {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .display {
    height: 75%;
    background-color: rgba(0, 0, 0, 0.8);;
  }

  .name {
    height: 15%;
  }

  .number {
    height: 10%;
  }
}