.rm-movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding: 20px;
  box-sizing: border-box;

  &:not(:last-child) {
    border-bottom: solid 1px lightgrey;
  }

  * {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .display {
    height: 70%;
    background-color: rgb(92, 99, 110);
    position: relative;

    .time {
      width: 50px;
      height: 30px;
      background-color: rgb(67, 70, 77);
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-right-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }

  .name {
    height: 20%;
    font-weight: bold;
  }

  .number {
    height: 10%;
    color: lightgray;

    img {
      width: 7px;
      height: 13px;
      margin-right: 10px;
    }
  }
}