.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
}

.error {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: red;
}