.user-container {
  display: flex;

  .avatar {
    width: 40px;
    height: 40px;
    background-color: rgb(92, 99, 110);
    border-radius: 50%;
  }

  .informations-container {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .informations-name {
      font-weight: bold;
    }

    .followers-number {
      font-size: 15px;
      color: rgb(180, 180, 180);
    }
  }

  .follow-button {
    color:#fff;
    border-radius: 50px;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(54, 168, 50);
    border: solid 1px green;
    color: white;
    font-weight: bold;
    padding:10px 45px 10px 15px;
      border-radius: 50px;
    border:0;
    position:relative;
    overflow:hidden;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2);
  }
  .follow-button:before {
    background-color: rgb(44, 133, 40);
    padding:13.5px;
    font-size: 20px;
    content:'+';
    position:absolute;
    left:0;
    top: -5px;
  }
}