.progress-bar-container {
  width: 100%;
  height: 5px;
  background-color: rgb(117, 117, 117);
  border-radius: 25px;
  
  .progress-bar-covered {
    height: 100%;
    background-color: #6ecaff;
  }
}